@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --text-color: #626262;
    --hightlight-color-red: #ff4141;
    --white-color: white;
    --hero-para-text: #171717;
    --heading-text:#090909;

}
*{
    margin: 0;
    font-family: "Urbanist", sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}