.introcontainer{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.hello{
    color: #5ccfe6;
    font-size: 22px;
    margin-bottom: 10px;
}

.introName{
    font-size: 80px;
    color: #a2aabc;
    font-family: math;
    font-weight: 800;
}
.introJob{
font-size: 50px;
color: #8695b799;
}
.introPara{
    width: 40vw;
    color: #8695b799;
    font-size: 25px;
    margin-top: 10px;

}
.introPara span{
    color: #5ccfe6;
}
.hireMeBtn{
    border: 3px solid #5ccfe6;
    color: #5ccfe6;
    margin-top: 50px;
    padding: 10px 40px;
}

